* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(#4346e5, #4346e5 41%, #4396e5 42%, #4346e5 48%,#4346e5 66%, #122390);
	color: #fff;
	overflow: hidden;
}

div, canvas {
	position: absolute;
	user-select: none;
	touch-action: none;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	image-rendering: pixelated;
	
}


.css_button {
	position: relative;
	cursor: pointer;
	pointer-events: auto;
}

.css_icon {
	color: #fff;
	background-color: rgba(232,240,255,0.5);
	filter: drop-shadow(0 .1rem 5px #006);
}
.css_play {
	background-color: rgba(32, 255, 32, 0.7);
}
.css_play:hover {
	background-color: rgba(32, 255, 32, 0.8);
}
.css_install {
	background-color: rgba(255, 212, 64, 0.8);
}
.css_install:hover {
	background-color: rgba(255, 212, 64, 0.9);
}
.css_controls {
	width: 40%;
	border-radius: 2rem;
}

.css_space {
	padding: 0 2vw;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
	
.rotate {
	animation: rotate 9s linear infinite;
}
