* {
	padding: 0;
	margin: 0;
	
}

body {
	background-color: #3a3adc;
	color: #fff;
	overflow: hidden;
}

div, canvas {
	position: absolute;
	user-select: none;
	touch-action: none;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;
	image-rendering: pixelated;
}

button {
	background-color: #afc;
	padding: 1rem 2rem;
	margin: 1rem 1rem;
	font-size: 1.8rem;
	border-radius: 1rem;
	border: 0;
}


.css_button {
	position: relative;
	cursor: pointer;
	pointer-events: auto;
}

.css_icon {
	color: #fff;
	background-color: rgba(255,255,255,0.55);
	filter: drop-shadow(0 .1rem 5px #026);
}
.css_play {
	background: rgba(64, 255, 0, 0.8);
	
}
/*.css_play:hover {
	background-color: rgba(32, 255, 32, 0.8);
}*/
.css_install {
	background: rgba(255, 200, 0, 0.8);
}
/*.css_install:hover {
	background: rgba(255, 212, 64, 0.9);
}*/
.css_controls {
	width: 40%;
	border-radius: 2rem;
}

.css_space {
	padding: 0 3vw;
}
