* {
	padding: 0;
	margin: 0;
	/* box-sizing: content-box; */
}

body {
	background-color: #124;
	color: #fff;
	overflow: hidden;
}

div, canvas {
	position: absolute;
	user-select: none;
	touch-action: none;
	-webkit-tap-highlight-color: transparent;
	image-rendering: pixelated;
}

button {
	background-color: #afc;
	padding: 2vh 4vw;
	margin: 2vh 2vw;
	font-size: 1em;
	font-weight: 900;
	border-radius: 1em;
	border: 2vw solid #fff8;
	border-top: 0;
	border-bottom: 0;
	cursor: pointer;
	filter: drop-shadow(1vh 1vmin 0 #1246);
}

.css_button {
	font-family: system-ui;
	font-weight: 900;
	position: relative;
	cursor: pointer;
	pointer-events: auto;
}

.css_icon {
	color: #fff;
	background-color: #bcfc;
	filter: drop-shadow(1vmin 1vmin 0 #1269);
	border-bottom: 1vmax solid #fff9;
}

.css_controls {
	width: 40%;
	border-radius: 2rem;
}

.css_space {
	padding: 0 2vw 1vw;
}
